body{
    margin: 0;
    padding: 0;
    background-color: #1E1F23;
}

header{
    background-color: #1E1F23;
    display: flex;
    justify-content: space-between;;
    padding-left: 40px;
    padding-right: 40px;
}

.logo {
    width: 130px;
    height: 130px;
}

.panel {
    display: flex;
    margin-top: 30px;
}

.list ul{
    list-style: none;
    display: flex;
    cursor: pointer;
}

.list li{
    margin-right: 40px;
    font-size: 30px;
}

.list a{
    color: #F2E29F;
    text-decoration: none;
}

.panel button {
    height: 70px;
    width: 280px;
    background-color: #F2E29F;
    color: #1E1F23;
    cursor: pointer;
    font-size: 30px;
    font-weight: medium;
    border-radius: 10px;
    stroke: none;
}

.registration{
    background-color:#1E1F23;
    border: none;
}

.registration form h2{
    text-align: center;
    color: #F2E29F;
    font-size: 48px;
    margin-top: 30px;
    margin-bottom: 40px;
}

.registration form button{
    border: none;
}

.close{
    background: none;
    color: #F2E29F;
    font-size: 64px;
    position: absolute;
    right: 50px;
    top: 20px;
    opacity: 0.7;
    height: 35px;
    width: 35px;
}

.registration form button:hover{
    opacity: 1;
}

.input_reg{
    margin-left: 60px;
    margin-right: 60px;
}

.input_reg p{
    color: #F2E29F;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 20px;
}

.input_reg input{
    width: 600px;
    height: 60px;
    background-color: #1E1F23;
    font-size: 32px;
    border-color:#D9B26F;
    color: #F2E29F;
    margin-bottom: 40px;
}

.register{
    width: 606px;
    height: 60px;
    font-size: 32px;
    color: #1E1F23;
    background: #F2E29F;
    margin-top: 0;
    margin-left: 60px;
    margin-bottom: 40px;
}

dialog,
dialog::backdrop {
    opacity: 0;
    scale: 1.05;
    transition-duration: 0.2s;
    transition-behavior: allow-discrete;
}

dialog[open],
dialog[open]::backdrop{
    opacity: 1;
    scale: 1;

    @starting-style{
        opacity: 0;
        scale: 1.05;
    }
}

main{
    background-image: url('../img/photo.jpg');
    background-repeat: no-repeat;
    background-position: top;
    margin: 0;
}

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title h1{
    color: #F2E29F;
    font-size: 128px;
    margin-top: 170px;
    margin-bottom: 50px;
}

.title p{
    color: #F2E29F;
    font-size: 36px;
    margin: 0;
}

.title button{
    background-color: transparent;
    color: #F2E29F;
    font-size: 64px;
    border-color: #F2E29F;
    height: 100px;
    width: 800px;
    margin-top: 120px;
}

.bid{
    background-color:#1E1F23;
    border: none;
}

.bid form h2{
    text-align: center;
    color: #F2E29F;
    font-size: 48px;
    margin-top: 30px;
    margin-bottom: 40px;
}

.bid form button{
    border: none;
}

.close_bid{
    background: none;
    color: #F2E29F;
    font-size: 64px;
    position: absolute;
    right: 50px;
    top: 20px;
    opacity: 0.7;
    height: 35px;
    width: 35px;
}

.bid form button:hover{
    opacity: 1;
}

.input_bid{
    margin-left: 60px;
    margin-right: 60px;
}

.input_bid p{
    color: #F2E29F;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 20px;
}

.input_bid input{
    width: 600px;
    height: 60px;
    background-color: #1E1F23;
    font-size: 32px;
    border-color:#D9B26F;
    color: #F2E29F;
    margin-bottom: 40px;
}

.make_bid{
    width: 606px;
    height: 60px;
    font-size: 32px;
    color: #1E1F23;
    background: #F2E29F;
    margin-top: 0;
    margin-left: 60px;
    margin-bottom: 40px;
}

.photo_studio{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photo_studio h2{
    color: #F2E29F;
    font-size: 48px;
    margin-top: 290px;
    margin-bottom: 0px;
}

.photography{
    display: flex;
    align-items: center;
}

.photography img{
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    width: 1280px;
    height: 720px;
}

.photography button{
    background-color: transparent;
    color: #F2E29F;
    height: 24px;
    width: 48px;
    border: none;
    font-size: 40px;
}

.hardware{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.hardware h2{
    color: #F2E29F;
    font-size: 48px;
    margin-top: 110px;
}

.drop_list{
    color: #F2E29F;
    font-size: 40px;
}

.client{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.client h2{
    color: #F2E29F;
    font-size: 48px;
    margin-top: 220px;
    margin-bottom: 0px;
}

.panel_artist{
    display: flex;
    align-items: center;
}

.panel_artist img{
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
    width: 520px;
    height: 600px;
}

.panel_artist button{
    background-color: transparent;
    color: #F2E29F;
    height: 24px;
    width: 48px;
    border: none;
    font-size: 40px;
}

.artist_card{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.artist_name{
    background-color: #A69658;
    width: 520px;
    height: 140px;
    margin-bottom: 40px;
}

.artist_name p{
    color: #F2E29F;
    font-size: 48px;
    text-align: center;
}

.price{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.price h2{
    color: #F2E29F;
    font-size: 48px;
    margin-top: 100px;
    margin-bottom: 40px;
}

.price_card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 91px;
}

.price_card div div h3{
    font-size: 40px;
    position: relative;
    left: 37px;
    bottom: 137px;
    width: 100%;
    color: #F2E29F;
}

.price_card div div h3::after{
    content: " ";
    background: #F2E29F;
    width: 366px;
    height: 2px;
    top: 60px;
    right: 80px;
    position: absolute;
}

.certificate{
    background-color:#1E1F23;
    border: none;
}

.certificate form h2{
    text-align: center;
    color: #F2E29F;
    font-size: 48px;
    margin-top: 30px;
    margin-bottom: 40px;
}

.close_certificate{
    background: none;
    border: none;
    color: #F2E29F;
    font-size: 64px;
    position: absolute;
    right: 50px;
    top: 20px;
    height: 35px;
    width: 35px;
}

.certificate_card {
    width: 500px;
    height: 300px;
    position: relative;
    background-color: #848FA5;
    margin-left: 50px;
    margin-right: 50px;
}

.card_vert{
    width: 30px;
    height: 300px;
    position: absolute;
    right: 70px;
    background-color: #D9B26F;
}

.card_hor{
    width: 500px;
    height: 30px;
    position: absolute;
    top: 70px;
    background-color: #D9B26F;
}

.studio {
    color: #F2E29F;
    position: absolute;
    font-size: 36px;
    top: 10px;
    left: 20px;
    font-weight: bold;
}

.electronic-cert {
    color: #F2E29F;
    position: absolute;
    font-size: 18px;
    bottom: 10px;
    left: 20px;
}

.nominal {
    color: #F2E29F;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

.nominal p{
    font-size: 32px;
    margin-top: 10px;
}

.nominal_buttons button{
    color: #F2E29F;
    background: #1E1F23;
    width: 120px;
    height: 40px;
    font-size: 24px;
    border: 1px solid #F2E29F;
}

.quantity {
    color: #F2E29F;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

.quantity p{
    font-size: 32px;
    margin-top: 10px;
}

.quantity-box {
    color: #F2E29F;
    width: 120px;
    height: 40px;
    border: 1px solid #F2E29F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    margin-top: 0;
    margin-bottom: 20px;
}

.quantity button{
    color: #F2E29F;
    background: #1E1F23;
    border: none;
    font-size: 24px;
}

.quantity span{
    font-size: 24px;
}

.make_certificate{
    width: 500px;
    height: 60px;
    font-size: 32px;
    color: #1E1F23;
    background: #F2E29F;
    margin-top: 0;
    margin-left: 50px;
    margin-right: 50px;
}

.feedback{
    display: flex;
}

.feedback img{
    width: 968;
    height: 625;
    margin-top: 238px;
    margin-left: 200px;
    margin-right: 90px;
}

.feedback_text{
    display: flex;
    flex-direction: column;
}

.feedback_text h2{
    color: #F2E29F;
    font-size: 48px;
    margin-top: 238px;
    margin-bottom: 0;
    margin-left: 0;
}

.feedback_text h3{
    color: #F2E29F;
    font-size: 48px;
    margin-top: 34px;
    margin-bottom: 12px;
    margin-left: 0;
}

.adress h4{
    color: #F2E29F;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
}

.feedback_text h5{
    color: #F2E29F;
    font-size: 32px;
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: 0;
}

.feedback_text a{
    color: #F2E29F;
    font-size: 32px;
    margin-top: 90px;
    margin-bottom: 0;
    margin-left: 0;
    text-decoration: none;
}

.social_network{
    display: flex;
    margin-top: 92px;
}

.social_network a{
    width: 60px;
    height: 60px;
    margin-right: 40px;
}

.social_network a img{
    width: 60px;
    height: 60px;
    margin-top: 0px;
    margin-left: 0px;
}

footer{
    display: flex;
    align-items: center;
    margin-top: 100px;
}

.footer_left{
    list-style: none;
    cursor: pointer;
    margin-left: 150px;
}

.footer_left li{
    font-size: 24px;
    margin-bottom: 2px;
}

.footer_left a{
    color: #F2E29F;
    text-decoration: none;
}

.footer_logo img{
    margin-left: 310px;
    width: 176px;
    height: 176px;
}

.footer_right{
    margin-left: 282px;
    text-align: right;
}

.footer_right p{
    color: #F2E29F;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 2px;
}
